{
	"node": {
		"args": ["--rpc-bind-ip", "127.0.0.1", "--rpc-bind-port", "16000"],
		"port": 16000
	},
  "error": {
    "notify": {
      "discord": {},
      "email": {
        "smtp": {
          "host": "smtp hostname",
          "port": 25,
          "secure": false
        },
        "auth": {
          "username": "your username",
          "password": "your password"
        },
        "message": {
          "from": "from field",
          "to": "list of recipients",
          "subject": "optionally the subject"
        }
      }
    }
  },
	"restart": {
		"errorForgetTime": 600,
		"maxCloseErrors": 3,
		"maxBlockTime": 1800,
		"maxInitTime": 600
	},
	"api": {
		"port": 8080
	},
  "pool": {
    "notify": {
      "url": "https://node.conceal.network/pool/update",
      "interval": 30
    }
  }
}
