#nodeBasicInfo h1 {
  font-size: 1.5em;
}

.dashboardField {
  min-width: 300px;
}

#nodeBasicInfo span {
  font-size: 0.8em;
}

#statusRunning {
  color: green;
}

#statusInitializing {
  color: orange;
}

#daemonLogWrapper,
#guardianLogWrapper {
  max-height: 500px;
  min-height: 200px;
}

#refreshDaemonLog,
#refreshPeerNodes,
#refreshGuardianLog {
  float: right;
}

#statusInitializing:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
  }
}

@media only screen and (max-width: 800px) {
  .codeContainer {
    font-size: 0.8em !important; 
  }
}